@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px 32px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 600;
  line-height: 2.24;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.25s ease, border-color 0.25s ease, opacity 0.25s ease;

  // Модифікатор: Головна кнопка (синя, напівпрозора)
  &--primary {
    background-color: rgba(79, 93, 169, 0.85); // Синій колір з урахуванням прозорості до фону
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px #255ECD80;


    &:hover {
      background-color: rgba(79, 93, 169, 1);
    }
  }

  // Модифікатор: Контурна кнопка (прозора з бордером)
  &--outline {
    background-color: rgba(255, 255, 255, 0.05); // Легке тонування
    border-color: rgba(255, 255, 255, 0.25); // Тонка напівпрозора рамка
    color: #ffffff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  // Стан для обох кнопок при натисканні
  &:active {
    transform: translateY(1px);
    opacity: 0.9;
  }
}