@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*------------------------------------------*/
/* - SOCIAL NETWORKS BLOCK */
/*------------------------------------------*/

.social {
  display: flex;
  align-items: center;
  gap: 20px;

  // Елемент списку (якщо всередині посилання флексове — сам li може залишатися дефолтним)
  &__item {
    display: block; 
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    @include transition(0.2); // Використовуємо ваш глобальний міксин анімації

    &:hover {
      transform: translateY(-3px);
      opacity: 0.85;
    }
  }
}